<div class="panel">
		<div class="panel-heading">Free Downloads</div>
		<table class="table">
				<caption>Below you will find a list of Free downloads</caption>
				<thead>
					<tr>
						<th>Title</th>
						<th>Artist</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>You will never fall in love</td>
						<td>Diana Gloster</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="music/01_You_Never_Fall_In_Love.mp3" download> Download</a>
        				</button></td>
					</tr>
					<tr>
						<td>Burn Up</td>
						<td>Diana Gloster</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="../music/02_Burn_up.mp3" download> Download</a>
        				</button></td>
					</tr>
					<tr>
						<td>Ale zh Ya</td>
						<td>Diana Gloster</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="music/03_Ale_ZH_YA.mp3" download> Download</a>
        				</button></td>
					</tr>
					<tr>
						<td>Fire</td>
						<td>Diana Gloster</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="music/04_FIRE.mp3" download> Download</a>
        				</button></td>
					</tr>
					<tr>
						<td>Let the music rise</td>
						<td>Diana Gloster</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="music/05_Let_The_Music_Rise.wav" download> Download</a>
        				</button></td>
					</tr>
					<tr>
						<td>No wrong or right</td>
						<td>Diana Gloster</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="06_No_Wrong_No_Right.wav" download> Download</a>
        				</button></td>
					</tr>
				</tbody>
		</table>
	</div>