
 <!--<div class="container">-->
	<div class="col-md-12">
		<div class="row">
			<div class="gal">
				<img src="../pics/pic1.jpg" alt="">
				<img src="../pics/pic2.jpg" alt="">
				<img src="../pics/pic3.jpg" alt="">
				<img src="../pics/pic4.jpg" alt="">
				<img src="../pics/pic5.jpg" alt="">
				<img src="../pics/pic6.jpg" alt="">
				<img src="../pics/pic7.jpg" alt="">
				<img src="../pics/pic8.jpg" alt="">
				<img src="../pics/pic9.jpg" alt="">
				<img src="../pics/pic10.jpg" alt="">
				<img src="../pics/pic11.jpg" alt="">
				<img src="../pics/pic12.jpg" alt="">
				<img src="../pics/pic13.jpg" alt="">
				<img src="../pics/pic14.jpg" alt="">
				<img src="../pics/pic15.jpg" alt="">
				<img src="../pics/pic16.jpg" alt="">
			</div>
	
		</div>
	</div>

<!--</div> -->

